.main {
    background-image: url('404.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    /*background-size: 100px 200px;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: auto;
    height: auto;
}



















