.content {
    display: flex;
    align-items: center;
    background-color: #7697dc;
    height: 300px;
}

.content img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid rgb(61, 6, 6);
}

.messageContent {
    display: inline-table;
    width: 200px;
    position: relative;
    background-color: #646f85;
    float: right;
    padding: 10px 20px;
    margin-bottom: 28px;
    line-height: 20px;
    border-radius: 12px 12px 12px 0;
}

.messageContent::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -40px;
    height: 40px;
    width: 40px;
    border-bottom-right-radius: 50%;
    box-shadow: 20px 0 0 0 #636e85;
}

.name {
    display: flex;
    justify-content: start;
    color: #000000;
}

.message {
    padding-right: 30px;
    color: #dfe4f1;
}

.time {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    color: #072eea;
}