.someClass {

}
.content {
    display: inline-table;
    align-items: center;
    background-color: #7697dc;
    height: 50px;
    width: 300px;
}
.deleteBtn{
    float: right;
}
.id{
    padding-right: 30px;
    padding-left: 10px;
}

.name{
    padding-right: 30px;
}

.priority {

}
