.input:focus {
    outline: none;
    border: #465fd9 solid 2px;
}

.superInput {
    margin: 10px;
    background: #b1d7ec;
    color: #384b73;
    border:#465fd9 solid 1px;
}

.errorInput {
    margin: 10px;
    border: 1px solid #a81010;
    background: #b1d7ec;
    color: #384b73;
}

.error {
    color: #a81010;
    height: 21px;
    margin-left: 10px;
}