.greeting {
    display: flex;
    align-items: flex-start;
}

.input {
    margin: 10px;

    background: #7697dc;
    color: whitesmoke;
}

.input:focus {
    outline: aqua;
    border: gray solid 2px;
}

.error {
    color: red;
    height: 21px;
    margin-left: 10px;
}

.errorInput {
    margin: 10px;
    background: #7697dc;
    color: whitesmoke;
    border: 2px solid red;
    outline: none;
}

.button {
    margin: 10px;
    width: 60px;
    background: #7697dc;
    color: whitesmoke;
    outline: none;
}

.button:focus {
    outline: whitesmoke solid 2px;
}

.button:active {
    background: #7697dc;
}

.button:disabled {
    color: #646f85;
}

.count {
    margin: 10px;
}

